<section class="thirteen columns">
    <h1 class="offset-by-one">
        Coding Projects
    </h1>

    <div class="container">
        <div class="row">
            <div class="six columns">
                <article>
                    <header>
                        <h1>
                            <a href="https://pypi.python.org/pypi/fate/">fate</a>
                        </h1>

                        <figure>
                            <img class="u-max-full-width" src="{{site.baseurl}}static/img/fate.png">
                            <figcaption>
                                <i class="fa fa-github"></i> <a href="https://github.com/mr-karan/fate">Source code</a>
                            </figcaption>
                        </figure>
                        <span><time>Jan 2016</time></span>
                    </header>

                    <p>
                        Developed a Command Line Interface to browse FontAwesome icons on terminal. Published as a
                        Python package which has over 1000 downloads.
                    </p>
                </article>
            </div>

            <div class="six columns offset-by-one">
                <article>
                    <header>
                        <h1>
                            <a href="http://net-neutrality-badge.herokuapp.com/">NetNeutrality Badge</a>
                        </h1>

                        <figure>
                            <img class="u-max-full-width" src="{{site.baseurl}}static/img/net.png">
                            <figcaption>
                                <i class="fa fa-github"></i> <a href=
                                "https://github.com/mr-karan/NetNeutralityBadge">Source code</a> / <i class=
                                "fa fa-globe"></i> <a href="https://net-neutrality-badge.herokuapp.com/">Live Demo</a>
                            </figcaption>
                        </figure>
                        <span><time>Jan 2016</time></span>
                    </header>

                    <p>
                        Developed a webapp which fetches user’s profile photo and overlays it with SaveTheInternet
                        badge. Many users used it to show support for the cause.
                    </p>
                </article>
            </div>
        </div>

        <div class="six columns">
            <article>
                <header>
                    <h1>
                        Insta Not follow
                    </h1>

                    <figure>
                        <img class="u-max-full-width" src="{{site.baseurl}}static/img/insta.png">
                        <figcaption>
                            <i class="fa fa-github"></i> <a href="https://github.com/mr-karan/Insta-notFollow">Source
                            code</a>
                        </figcaption>
                    </figure>
                    <span><time>Nov 2015</time></span>
                </header>

                <p>
                    Developed a webapp to find out accounts which an Instagram user follows but they don’t
                    follow back.
                </p>
            </article>
        </div>

        <div class="six columns offset-by-one">
            <article>
                <header>
                    <h1>
                        <a href="http://poolyourcar.com/">poolyourCar</a>
                    </h1>

                    <figure>
                        <img class="u-max-full-width" src="{{site.baseurl}}static/img/cabpool.png">
                        <figcaption>
                            <i class="fa fa-github"></i> <a href="https://github.com/techalien/carpool">Source
                            code</a> / <i class="fa fa-globe"></i> <a href="http://poolyourcar.com/">Website</a>
                        </figcaption>
                    </figure>
                    <span><time>Jul 2015</time></span>
                </header>

                <p>
                    Anticipated the need for carpooling needs in university. Designed and built a webapp before
                    the advent of today’s popular ridesharing apps. Over 800 users within 5 days of launch.
                </p>
            </article>
        </div>
    </div>
</section>