<section class="thirteen columns offset-by-one">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Open Source Contributor</a></h1>
            <li> <a href="https://duckduckhack.com/"> Duckduckgo </a> </li>
            <li> <a href="https://github.com/coala/coala"> coala </a> </li>
    </article>
    <article>
        <header>
            <h1><a href="http://snu-breeze/">Breeze 2015 | Shiv Nadar University</a></h1>
            <span>Developer <i class="fa fa-github"></i> <a href="https://github.com/mr-karan/snuBreeze-Backend/">Source Code</a> /
            <i class="fa fa-globe"></i> <a href="http://snu-breeze.com/">Website</a></span>
            <span><time>Jul 2015 - Sep 2015</time></span>
        </header>
        <p>Organization and development/design of the event's website and ticket sale.</p>
    </article>
    <article>
        <header>
            <h1><a href="http://acm-snu.github.io/">SNU ACM Chapter</a></h1>
            <span>Student Speaker <i class="fa fa-github"></i> <a href="https://github.com/acm-snu">Organization</a> /
            <span><time>2015-2016</time></span>
        </header>
        <p>Give lectures on FOSS, practical app development and live coding sessions at college.</p>
    </article>
    <article>
        <header>
            <h1>IT Secretary</h1>
            <span>Student Council @ <em>Shiv Nadar University</em></span>
            <span><time>2016 - 2017 </time></span>
        </header>
    </article>
</section>