<section class="thirteen columns offset-by-one">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Google Summer of Code'16</h1>
            <span><a href="https://summerofcode.withgoogle.com/archive/2016/projects/5563734458105856/">Python Software Foundation</a></span>
            <span><address>Remote</address><time>May'16 to Aug'16</time></span>
        </header>
        <p>
            <li> Worked on coala-analyzer project. Planned, designed and developed a command line application to automate bear creation tasks. Published as library which has around 300 active users.</li>
            <li>Implemented Syntax Highlighting in the main command line application. </li> 
            <li>Created a Bear Documentation Website with AngularJS, Flask and MateriallizeCSS to provide a clean interface for all bear docs.  </li>
            <li>All code was reviewed, perfected, and pushed to production. </li>
        </p>
    </article>
    <article>
        <header>
            <h1>Full Stack Web Developer Intern</h1>
            <span><a href="http://www.eventosaur.com">Eventosaur</a></span>
            <span><address>Bangalore</address><time>May'16 to Jul'16</time></span>
        </header>
        <p>
            <li> Worked with Flask and Javascript to create a blogging platform. </li>
            <li> Refactored the old API and implemented new database design changes with PostgresSQL. </li>
            <li> Took part in interviewing real users for paper prototyping the User Interface. </li>
            <li> Created test suites for API routes with BDD testing tools like behave. </li>
        </p>
    </article>
</section>